<app-floating-configurator />
<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden p-4">
    <div class="flex flex-col items-center justify-center w-full">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">

            <div class="w-full max-w-lg bg-surface-0 dark:bg-surface-900 py-16 px-2 lg:px-6"
                style="border-radius: 53px">
                <div class="text-center mb-2">
                    <div class="flex justify-content-center mb-4">
                        <img src="/assets/images/s.png" class="h-6rem mx-1" />
                    </div>
                    <span class="text-muted-color font-medium">Crea tu cuenta</span>
                </div>

                <div>
                     <div class="mb-2">
                        <label for="nombre"
                            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Nombre</label>
                        <input (onChange)="clearErrors()" pInputText id="nombre" type="text" placeholder="Nombre"
                            class="w-full" [(ngModel)]="register.name" />
                        @if (errors.nameError) {
                        <small class="validation-error">{{errors.nameError}}</small>}
                    </div>
                    <div class="mb-2">
                        <label for="apellido"
                            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Apellido</label>
                        <input (onChange)="clearErrors()" pInputText id="apellido" type="text" placeholder="Apellido"
                            class="w-full" [(ngModel)]="register.lastName" />
                        @if (errors.lastNameError) {
                        <small class="validation-error">{{errors.lastNameError}}</small>}
                    </div>
                    <div class="mb-2">
                        <label for="userName"
                            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Usuario</label>
                        <input (onChange)="clearErrors()" pInputText id="userName" type="text" placeholder="Usuario"
                            class="w-full" [(ngModel)]="register.userName" />
                        @if (errors.userNameError) {
                        <small class="validation-error">{{errors.userNameError}}</small>}
                    </div>
                    <div class="mb-2">
                        <label for="telefono"
                            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Telefono</label>
                        <input (onChange)="clearErrors()" pInputText id="telefono" type="text" placeholder="Telefono"
                            class="w-full" [(ngModel)]="register.phone" />
                        @if (errors.phoneError) {
                        <small class="validation-error">{{errors.phoneError}}</small>}
                    </div>
                    <div class="mb-2">
                        <label for="email1"
                            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                        <input (onChange)="clearErrors()" pInputText id="email1" type="text" placeholder="Email"
                            class="w-full" [(ngModel)]="register.email" />
                        @if (errors.emailError) {
                        <small class="validation-error">{{errors.emailError}}</small>}
                    </div>

                    <div class="mb-2">
                        <label for="password1"
                            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Contraseña</label>
                        <p-password (onChange)="clearErrors()" id="password1" [(ngModel)]="register.password"
                            placeholder="Contraseña" [toggleMask]="true" [fluid]="true" [feedback]="false"></p-password>
                        @if (errors.passwordError) {
                        <small class="validation-error">{{errors.passwordError}}</small>}
                    </div>
                     <div class="mb-2">
                        <label for="password2"
                            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Confirmar contraseña</label>
                        <p-password (onChange)="clearErrors()" id="password2" [(ngModel)]="confirmedPassword"
                            placeholder="Contraseña" [toggleMask]="true" [fluid]="true" [feedback]="false"></p-password>
                        @if (errors.passwordError) {
                        <small class="validation-error">{{errors.passwordError}}</small>}
                         <span (click)="goToLogin()"
                            class="font-medium flex mt-2 no-underline text-right cursor-pointer text-primary">¿Ya tienes una cuenta?</span>
                    </div>

                    <p-button label="Crear cuenta" styleClass="w-full" (click)="makeDto()"></p-button>

                </div>
            </div>
        </div>
    </div>
</div>

