<p-card>
    <div class="flex flex-column justify-content-between align-items-center md:flex-row md: mb-2">
        <div class="flex flex-column">
            <h2 #title class="mb-0 font-poppins">Gestion de productos</h2>
            <p>Administra todos los productos</p>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-card [header]="currentMode === 'create' ? 'Crear producto' : 'Editar producto'">
                <div class="flex flex-column gap-4 mt-2">
                    <div class="flex flex-column md:flex-row gap-3">
                        <div class="flex flex-column flex-grow-1">
                            <label for="name">Nombre</label>
                            <input id="name" pInputText [(ngModel)]="selectedProduct.name" />
                            @if (errors.nameError) {
                            <small class="validation-error">{{errors.nameError}}</small>}
                        </div>

                        <div class="flex flex-column flex-grow-1">
                            <label for="price">Precio</label>
                            <p-inputnumber inputId="price" [(ngModel)]="selectedProduct.price" mode="currency"
                                currency="USD" locale="en-US" [min]="100" />
                            @if (errors.priceError) {
                            <small class="validation-error">{{errors.priceError}}</small>}
                        </div>
                    </div>

                    <div class="flex flex-column">
                        <label for="description">Descripción</label>
                        <textarea id="description" rows="5" cols="30" pTextarea
                            [(ngModel)]="selectedProduct.description"></textarea>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</p-card>
<p-toast />
